:root{
    --white: rgb(254, 254, 254);
    --bright-orange: rgba(255, 153, 0, 1);
    --pale-orange: rgba(255, 193, 99, 1);
    --dark-grey: rgba(177, 177, 177, 1);
    --pale-grey: rgba(241, 241, 241, 1);
    --dark-blue: rgba(8, 52, 117, 1);
    --pale-blue: rgba(224, 233, 240, 1);
    --text-color: rgba(51, 51, 51, 1);
    --green: rgba(61, 183, 59, 1);
    --red: rgba(173, 8, 8, 1);

    --fs-900: 64px;
    --fs-800: 32px;
    --fs-700: 24px;
    --fs-600: 18px;
    --fs-500: 16px;
}

@font-face {
    font-family: 'Actay Regular';
    src: url(assets/fonts/Actay-Regular.otf);
}

@font-face {
    font-family: 'Actay Bold';
    src: url(assets/fonts/ActayWide-Bold.otf);
}

body {
    font-family: 'Actay Regular';
    display: flex;
    justify-content: center;
    color: var(--text-color);
    overflow-x: hidden;
}

.wrapper {
    width: min(1612px, 100%);
    min-height: 100vh;
    padding: 12px;
}

/* Navigation */

.nav {
    display: flex;
    gap: 80px;
    position: sticky;
    top: 0;
    position: relative;
}

.logo-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo {
    width: 64px;
}

.logo-title {
    font-weight: 700;
    font-size: var(--fs-500);
    color: var(--dark-blue);
    font-family: 'Actay Bold';
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-list-item {
    list-style: none;

}

.nav-list-item a {
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--fs-600);
}

.nav-list-item a:hover, .nav-list-item a:focus {
    color: var(--dark-blue);
}

.nav-list-item a:active {
    color: var(--bright-orange);
}

.social-links {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-left: auto;
}

.social-link {
    font-size: var(--fs-600);
    text-decoration: none;
    color: var(--text-color);
}

.icon-social {
    width: 60px;
}

.burger-menu {
    display: none;
    width: 56px;
    cursor: pointer;
}

.burger-menu.open {
    margin-left: auto;
    width: 32px;
    align-self: flex-start;
    display: block;
}

.pop-up-menu {
    position: absolute;
    top: 0;
    width: min(390px, 100%);
    padding: 24px;
    background-color: var(--white);
    display: grid;
    align-content: start;
    grid-template-rows: 420px 1fr;
    gap: 24px;
    height: max(100vh, 740px);
    z-index: 5;
    right: -100%;
    transition: all 0.8s ease;
}

.pop-up-menu.active {
    right: 0;
}

.pop-up-top {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pop-up-bottom {
    align-self: end;
}

.nav-list.mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.mobile .nav-list-item a {
    font-size: var(--fs-700);
}

.pop-up-menu .social-links {
    margin-left: 0;
}

.pop-up-prg {
    font-size: var(--fs-500);
    margin-bottom: 24px;
}


.pop-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--bright-orange);
    color: var(--bright-orange);
    padding: 16px;
    font-size: var(--fs-600);
    gap: 16px;
    width: 240px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 8px;
    background-color: var(--white);
}

.pop-up-btn:hover, .pop-up-btn:focus {
    color: var(--white);
    background-color: var(--bright-orange);
}

.plus-sign-btn {
    width: 24px;
    box-sizing: content-box;
}

.overlay {
    background-color: rgb(0,0,0,0.8);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    margin: -12px;
    overflow-y: auto;
    display: none;
}



@media screen and (max-width: 1200px) {
    .nav-list.desktop {
        display: none;
    }
    .social-links {
        margin-right: auto;
    }
    .burger-menu.closed {
        display: block;
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    .social-links.desktop {
        display: none;
    }
}